@font-face{
	font-family: "BreeSerif";
	src:url(../fonts/BreeSerif-Regular.ttf);
}
body{
	background-image: url(../img/fond.png);
	font-family: "BreeSerif",sans-serif;
	font-size: 1em;
	color:rgb(153, 153, 153);
}
a{
	text-decoration: none;
	color:rgb(153, 153, 153);
}
header{
	margin:0 auto;
	width: 65%;
	margin-top: 20px;
}
header img{
	width: 50px;
	margin-right: 10px;
}
header > a:hover > img {
	transform: scale(1.5, 1.5);
	transition: all 2s ease 0s;
}
header>nav{
	float: right;
	width: 60%;
	margin: 0.3em auto;
}
header>nav>ul{
	padding: 0;
	margin: 0;
	text-align: center;
}
header>nav>ul>li{
	display: inline-block;
	width: 32%;
}
header>nav>ul>li:hover{
	transform: translate(0, 10px);
	transition: all 1s ease 0s;
}
header>nav>ul>li:hover a, header>nav>ul>li:focus a, header a:hover, header a:focus{
	color: red;
	transition: all 2s ease 0s;
}
main{
	clear: right;
}
h1,h2,h3,h4{
	font-weight: normal;
	color: rgb(246, 27, 82);
}
section:first-of-type{
	color: white;
	text-align: center;
	background-image: url(../img/bg_header.png);
	background-size: cover;
	padding-bottom: 120px;
	margin-bottom: 60px;
}
h1{
	color: white;
	padding-top: 120px;
}
section:first-of-type > p{
	width: 70%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 80px;
}
section:first-of-type a{
	color: white;
	background: linear-gradient(to top, rgb(210, 5, 77), rgb(249, 40, 112));
	padding: 10px 20px 10px 20px;
	border-radius: 7px;
}
section:nth-of-type(2),section:nth-of-type(3),section:nth-of-type(4),section:nth-of-type(5){
	max-width: 1100px;
	margin:auto;
}
h2{
	margin:auto;
	font-size: 1.5em;
	text-align: center;
	border-bottom: 2px solid rgb(238, 239, 239);
	padding-bottom: 10px;
}
canvas{
	margin-top: 50px;
	margin-bottom: 70px;
}
section:nth-of-type(2){
	text-align: center;
}
section:nth-of-type(3) article{
	display: inline-block;
	width: 27%;
	text-align: center;
	margin-top: 50px;
	margin-left: 3%;
	margin-right: 3%;
	font-size: 0.7em;
}
h3{
	border-bottom: 2px solid rgb(238, 239, 239);
	padding-bottom: 10px;
}
section:nth-of-type(3) article>i{
	padding:15px;
	background-color: rgb(239, 240, 240);
	border-radius: 60px;
	border:2px solid rgb(221, 222, 222);
}
section:nth-of-type(3) article>i:hover{
	animation: bounce 0.35s ease 1s 4 alternate;
}
@keyframes bounce{
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}
section:nth-of-type(4){
	margin-top: 100px;
}
section:nth-of-type(4)>article>div,section:nth-of-type(4)>article>img{
	display: inline-block;
	vertical-align: top;
	margin-left: 1.5%;
	margin-right: 1.5%;
}
section:nth-of-type(4)>article>div{
	width: 40%;
	font-size: 0.7em;
}
section:nth-of-type(4)>article>img{
	width:53%;
}
h4{
	margin-left: 1.5%;
	margin-right: 1.5%;
}
section:nth-of-type(4) div>a{
	color: rgb(246, 27, 82);	
	margin-left: 3%;
}
section:nth-of-type(4) a:hover,section:nth-of-type(4) a:focus{
	color: white;
	background: linear-gradient(to top, rgb(210, 5, 77), rgb(249, 40, 112));
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	transition: color 1s ease 0s;	
}
section:nth-of-type(5){
	margin-top: 100px;
}
section:nth-of-type(5)>p{
	font-size: 0.7em;
	margin-left: 1.5%;
	margin-right: 1.5%;
	margin-top: 20px;
}
section:nth-of-type(5)>form{
	font-size: 0.7em;
	margin-top: 20px;
	margin-bottom: 100px;
}
form>p:first-child, form>p:nth-child(2){
	display: inline-block;
	width: 46.8%;
	margin-left: 1%;
	margin-right: 1.5%;
	color:rgb(153, 153, 153);
}
form>p:nth-child(3){
	width: 96.5%;
	margin-left: 1%;
	margin-right: 1.5%;
}
form p{
	border:1px solid rgb(206, 206, 206);
	border-radius: 60px;
}
input,img,textarea{
	display: inline-block;
	vertical-align: middle;
}
input,textarea{
	width: 80%;
	color:rgb(153, 153, 153);
	background-color: transparent;
	border:none;
}
img[alt="name"],img[alt="mail"]{
	width: 30px;
	height: 30px;
	margin: 2%;
}
img[alt="message"]{
	width: 30px;
	height: 30px;
	margin: 1%;
}